:root {
  --primary-color: #007af3;
}

body {
  background: #f2f2f2;
  margin: 0;
  font-family: poppins;
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-weight: bolder;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: 444444;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bolder;
  color: grey;
  letter-spacing: 0.3em;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
}

.left-col .primary-cta {
  background: var(--primary-color);
  text-decoration: none;
  color: white;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}

.left-col .watch-video-cta {
  display: block;
  margin-top: 1em;
}

.left-col .watch-video-cta img {
  margin-right: 0.5em;
}

.left-col .hero-img {
  width: 70%;
  margin-top: 3em;
}

section.features-section {
  background: #20272e;
  color: white;
  margin: 0;
}

section.features-section ul.features-list {
  padding-left: 0.1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

section.features-section ul.features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}

section.features-section ul.features-list li:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../images/bullet.png);
  background-size: contain;
  margin-right: 0.5em;
  left: -2em;
}

section.features-section .features-img {
  display: none;
}

.testimonial-section {
  background: var(--primary-color);
  color: white;
}

.testimonial-section li {
  background: #006bd6;
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 0 auto 5em auto;
  border-radius: 1em;
}

.testimonial-section li img {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 5px solid #006bd6;
  margin-top: -4.5em;
}

h2 {
  font-size: 2em;
}

label {
  display: block;
  font-size: 1.3em;
  margin-bottom: 0.5em;
}

input,
textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid grey;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.send-message-cta {
  background: var(--primary-color);
  color: white;
  font-weight: bold;
  font-size: 1.3em;
  border-radius: 5em;
  border: none;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 300px;
}

.mobile-menu {
  display: block !important;
}

nav {
  position: fixed;
  z-index: 999;
  height: 100vh;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272e;
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
  margin-bottom: 3em;
}

nav li a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  display: block;
  padding: 00.5em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exist {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

@media only screen and (min-width: 733px) {
  .navbar {
    padding: 1.5em;
  }
  .navbar .mobile-menu,
  .navbar .mobile-menu-exist {
    display: none !important;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar .container .logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    height: auto;
    width: 100%;
    padding: 0;
    position: unset;
    padding-right: -5em;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em -10em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0.5em;
  }
  .navbar nav ul.secondary-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar nav ul.secondary-nav li.go-premium-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    padding: 0.2em 1em;
  }
  .navbar nav ul.secondary-nav li.go-premium-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
  .navbar nav li.current {
    font-weight: bold;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .left-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
    margin: 3em 3em 0 5em;
  }
  .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .left-col .hero-img {
    width: 30%;
    margin-right: 8em;
  }
  .left-col .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .left-col .primary-cta {
    margin-right: 1em;
  }
  ul.features-list {
    display: block !important;
    margin-left: 5em;
    font-size: 1.4em;
  }
  ul.features-list:before {
    width: 30px;
    height: 30px;
  }
  .features-section {
    position: relative;
  }
  .features-section img {
    display: block !important;
    width: 350px;
    position: absolute;
    right: 0;
    bottom: -2em;
  }
  .testimonial-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonial-section ul li {
    margin: 0 1em;
  }
  .contact-section {
    position: relative;
  }
  .contact-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-section .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }
  .contact-section .contact-right iframe {
    height: 100%;
  }
}

@media only screen and (min-width: 1115px) {
  .features-section:before {
    content: "";
    position: absolute;
    width: 10%;
    background: var(--primary-color);
    height: 20em;
    left: 0;
    top: -4em;
  }
  .features-section:after {
    content: "";
    position: absolute;
    width: 200px;
    height: 20em;
    background: url(../images/dots.svg) no-repeat;
    left: 4.5em;
    top: 2em;
  }
}
/*# sourceMappingURL=main.css.map */